@model IEnumerable<EnjoyEat.Models.ViewModel.MemberViewModel>

@section Styles{
    <link href="~/css/membermanagement.css" rel="stylesheet" />
}
<!-- =======MemberManagement navbar  Section ======= -->
<nav>
    <div id="memberNavbar">
        <h5 id="userName">某某某您好</h5>
        <button class="logout">登出</button>
    </div>
</nav>
<!-- End navbar -->

<main id="main">
    <div class="contaimer">
    <!-- ======= MemberInformation Section ======= -->
    @*原本是why-us*@
        <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>會員資訊</h2>
                <button class="infoedit">修改會員資料</button> @*用ajax改*@
                <button class="passwordedit">重新設定密碼</button>
            </div>

            <!--memberdata-->
            <div class="row">

                <div class="col-lg-2">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                       會員編號:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        001
                    </div>
                </div>

                <div class="col-lg-2 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                       聯絡電話:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                       0987654321
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        姓名:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        王小明
                    </div>
                </div>

                <div class="col-lg-2 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        通訊地址:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        台北市中正區濟南路一段321號
                    </div>
                </div><div class="col-lg-2">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        出生日期:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        2000/07/15
                    </div>
                </div>

                <div class="col-lg-2 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        Email:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        thm101team66@gamil.com
                    </div>
                </div>

                    <div class="col-lg-2 mt-4 mt-lg-0">
                        <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            性別:
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            男
                        </div>
                    </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->


    <!--MemberLevel section-->
    <section id="top-ten" class="top-ten">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>會員等級</h2>
            </div>

            <!--會員等級設定-->
            <div class="memberLevelContent">
                <div class="row">

                        <div class="circle col-lg-3">
                            <img src="~/img/specials-4.png" />
                        </div>

                        <div class="col-lg-9 d-flex">
                            <div class="row">
                                <div class="col-lg-9">您的會員等級:</div>
                                <div class="col-lg-3">貴族</div>

                                <div class="col-lg-6">累積消費金額:</div>
                                <div class="col-lg-6">$4,234,567元／16次</div>
                            </div>
                        </div>

                        <h3>累計進度bar</h3>
                        <div >
                            <div class="progress-wrapper">
                                <progress id="progress" max="25000"></progress>
                                <div class="progress-labels">
                                    <span>0</span>
                                    <span>25000</span>
                                </div>

                            </div>
                        </div>
                </div>
                   

            </div>
        </div>
    </section>
    <!--Top10 carousul section end-->

    <!-- ======= OrderHistory Section ======= -->
    <section id="events" class="events">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>會員歷史訂單</h2>
            </div>

                @*<table class="table" id="CustomersTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactTitle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Region)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PostalCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Country)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Fax)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Region)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostalCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fax)
                        </td>
                        <td>
                            <button></button>
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>*@

        </div>
    </section><!-- End Events Section -->

    </div>

</main><!-- End #main -->
@section Scripts {

    <script>
        let progress = document.getElementById("progress");
        let progressValue = 16000;
        let remainingValue = 25000 - progressValue;

        progress.value = progressValue;

        if (remainingValue > 0) {
            progress.max = 25000;
            progress.setAttribute(
                "data-content",
                `還需消費 ${remainingValue} 元才能升級為黃金會員`
            );
        } else {
            progress.max = progressValue;
            progress.setAttribute("data-content", "已升級為黃金會員");
        }

    </script>
}